**Gather the Data**

In [ ]:
from google.colab import drive
drive.mount('/content/drive/') # allow us to read data from google drive

Mounted at /content/drive/

In [ ]:
import os
os.chdir('/content/drive/My Drive/Batman Chat_Bot')

In [ ]:
!ls

Batman.txt

In [ ]:
import re
import pandas as pd

In [ ]:
pattern = r'([a-zA-Z\s]+):(.+)' # pattern for matching conversation ; can check it at pythex ; regular expression

In [ ]:
data = {
    'name': [],  # we need column name and column line in our data file
    'line': []   # creating a dictionary
}

In [ ]:
with open('Batman.txt', 'rt') as file: #open and read the file
  for line in file.readlines():       # for each line we match with our regular expression pattern
    match = re.findall(pattern, line) # if there is a match append it to our dictionary
    if match:                         
      name, line = match[0]
      data['name'].append(name)
      data['line'].append(line)

In [ ]:
df = pd.DataFrame(data) # convert this dictionary into dataframe

In [ ]:
df.head()

               name                                               line
0  TYGER Helicopter   All units, this is AIR TYGER 4. We have confi...
1      Hugo Strange                                  Is she in danger?
2  TYGER Helicopter   Affirmative. Target is being held by Dent. We...
3      Hugo Strange             Stand down. Let Two-Face have his fun.
4  TYGER Helicopter                                        Understood.

In [ ]:
sum(df['name'] == 'Batman') # checking the number of dialogues our character has

63

In [ ]:
len(df)

143

In [ ]:
df.to_csv('Batman.csv', index = False)